<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Formulario de cadastro de Noticia</title>

    <style>
      .form {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      form {
        width: 60%;
      }
    </style>
  </head>
  <body>
    

    <div class="form">
      <h1>Adicionar Noticia</h1>

      <% if (typeof validacao !== 'undefined') { %>
        <ul>
          <% for( let i = 0; i < validacao.length; i++ ) { %>
            <li><%= validacao[i].msg %></li>
          <% } %>
        </ul> 
      <% } %> 

      <form action="/noticias/salvar" method="post">
        <div class="form-group">
          <label>Titulo</label>
          <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Ensira o titulo">
        </div>

        <br/>

        <div class="form-group">
          <label>resumo</label>
          <input class="form-control" type="text" name="resumo" id="resumo" placeholder="resumo da noticia">
        </div>

        <br/>

        <div class="form-group">
          <label>autor</label>
          <input class="form-control" type="text" name="autor" id="autor" placeholder="Ensira o autor">
        </div>

        <br/>

        <div class="form-group">
          <label>Data</label>
          <input class="form-control" type="date" name="data_noticia" id="data_noticia">
        </div>

        <br/>

        <div class="form-group">
          <label>Noticia</label>
          <textarea class="form-control" name="noticia" id="noticia" cols="30" rows="5"></textarea>
        </div>

        <br>

        <input class="btn btn-primary btn-block" type="submit" value="enviar">
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
